@model IEnumerable<PartModel>

@{
    ViewData["Title"] = "All parts";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Price
            </td>
            <td>
                Quantity
            </td>
            <td>
                CRUD
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <a href="/parts/edit/@(item.Id)" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>