@model AddCarViewModel

@{
    ViewData["Title"] = "Add car";
}

<h2>Add car</h2>

<form method="post">
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="Make" class="form-control"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="Make" class="form-control" />
        </div>
        <div class="col-md-2">
            <span asp-validation-for="Make" class="text-capitalize"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="Model" class="form-control"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="Model" class="form-control" />
        </div>
        <div class="col-md-2">
            <span asp-validation-for="Model" class="text-capitalize"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="TravelledDistance" class="form-control"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="TravelledDistance" class="form-control" />
        </div>
        <div class="col-md-2">
            <span asp-validation-for="TravelledDistance" class="text-capitalize"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Add car" class="btn btn-default" />
        </div>
    </div>
</form>